@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
  margin: 0 !important;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 4.5em;
}
h2 {
  font-size: 2.7em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1em;
}
p {
  font-size: 1.25em;
}
ul {
  list-style: none;
}
li {
  font-size: 1.25em;
}

button {
  border: 2x solid rgba(0, 0, 0, 0, 5);
  width: 110px;
  height: 110px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: #356045;
  border-radius: 50%;
  cursor: pointer;
}

button:hover {
  background-color: grey;
}

.container {
  margin: auto;
}

.color-acc {
  color: #356045;
}

.color-ac {
  color: #356045;
}

.color-ac:hover {
  color: #356045;
}

header {
  background-color: rgb(238, 231, 168);
}

header .logo {
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: #356045;
  font-size: 1.4em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.2s linear;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header a {
  text-decoration: none;
  color: rgb(66, 64, 64);
  font-size: 1.25em;
  font-weight: bold;
  padding: 5px 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.2s linear;
}

header a:hover {
  color: #327c4d;
}

header .logo:hover {
  color: #327c4d;
}

.contact {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 50px 0;
}

.c-h {
  background-color: whitesmoke;
  text-align: center;
  color: #356045;
  font-size: 2.5em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 40px 0 10px 0;
  margin: 0;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgb(100, 177, 123);
  border-radius: 30px;
  padding: 5px;
  background-color: #ffffff;
}

.contacto h3 {
  text-align: center;
  font-size: 1.4em;
  color: #356045;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.contacto p {
  font-size: 1em;
  font-weight: 800;
  color: #356045;
}

.map {
  margin: 20px 0;
}

@media (min-width: 727px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
  }

  header .container {
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
  }

  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 30px;
  }

  header button {
    display: none;
  }

  .mainInner {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 726px) {
  header .container {
    padding-bottom: 10px;
  }
}

.footer-distributed {
  background: #444;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 50px 60px 40px;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  height: calc(100vh - 85px);
}

/* Footer left */

.footer-distributed .footer-left {
  float: left;
}

/* Logo */

.footer-distributed h3 {
  color: #ffffff;
  margin: 0 0 10px;
}

.footer-distributed h3 span {
  color: #4d9c6a;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-icons {
  margin-top: 40px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 50%;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed p {
  font-size: 25px;
}

.footer-distributed .footer-icons #fb {
  background-image: url("./fotos/facebuk.png");
  background-size: 50px 50px;
}

.footer-distributed .footer-icons #ig {
  background-image: url("./fotos/instagram3.png");
  background-size: 50px 50px;
}

.footer-distributed .footer-icons #maps {
  background-image: url("./fotos/periscope.png");
  background-size: 50px 50px;
}

/* Footer right */

.footer-distributed .footer-right {
  float: right;
}

.footer-distributed .footer-right p {
  display: flex;
  flex-direction: column;
  vertical-align: bottom;
  margin: 15px 42px 0 0;
  color: #ffffff;
  align-items: flex-end;
  font-size: 1.2em;
}

/* Contacto */

.footer-distributed form {
  display: inline-block;
  clear: right;
}

.footer-distributed form input,
.footer-distributed form textarea {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color: #d1d2d2;

  width: 400px;
  padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
  color: #5c666b;
}

.footer-distributed ::-moz-placeholder {
  color: #5c666b;
  opacity: 1;
}

.footer-distributed :-ms-input-placeholder {
  color: #5c666b;
}

.footer-distributed form input {
  height: 55px;
  margin-bottom: 15px;
}

.footer-distributed form textarea {
  height: 100px;
  margin-bottom: 20px;
}

.footer-distributed form button {
  border-radius: 3px;
  background-color: #33383b;
  color: #ffffff;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
  text-align: center;
  width: 400px;
  height: 100px;
  color: rgb(201, 201, 201);
}

.footer-distributed form button:hover {
  color: rgb(235, 230, 230);
}

@media (max-width: 1000px) {
  .footer-distributed .footer-company-name {
    font-size: 12px;
  }

  .footer-distributed form input,
  .footer-distributed form textarea {
    width: 250px;
  }

  .footer-distributed form button {
    padding: 10px 35px;
  }
}

@media (max-width: 800px) {
  .footer-distributed {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    float: none;
    clear: right;
  }

  .footer-distributed .footer-left {
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
  }

  .footer-distributed form {
    margin-top: 30px;
  }

  .footer-distributed form {
    display: block;
  }

  .footer-distributed form button {
    float: none;
  }

  .footer-distributed .footer-right p {
    display: block;
    margin: 0;
    text-align: center;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footer-links a {
    margin: 0 10px;
  }

  .footer-distributed .footer-icons a {
    margin-right: 0;
  }

  .footer-distributed .footer-company-name {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
  }

  .footer-distributed .footer-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footer-distributed .footer-icons a {
    margin-right: 10px;
  }
}
@media (min-width: 1100px) {
  #c-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .contacto {
    margin-right: 20px;
  }
}

.sbuttons {
  bottom: 5%;
  position: fixed;
  margin: 1em;
  left: 0;
}
.sbutton {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 20px auto 0;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18),
    0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  position: relative;
}
.sbutton > i {
  font-size: 38px;
  line-height: 60px;
  transition: all 0.2s ease-in-out;
  transition-delay: 2s;
}
.sbutton:active,
.sbutton:focus,
.sbutton:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.sbutton:not(:last-child) {
  width: 60px;
  height: 60px;
  margin: 20px auto 0;
  opacity: 0;
}
.sbutton:not(:last-child) > i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-in-out;
}
.sbuttons:hover .sbutton:not(:last-child) {
  opacity: 1;
  width: 60px;
  height: 60px;
  margin: 15px auto 0;
}
.sbutton:nth-last-child(1) {
  -webkit-transition-delay: 25ms;
  transition-delay: 25ms;
}
.sbutton:not(:last-child):nth-last-child(2) {
  -webkit-transition-delay: 20ms;
  transition-delay: 20ms;
}
.sbutton:not(:last-child):nth-last-child(3) {
  -webkit-transition-delay: 40ms;
  transition-delay: 40ms;
}
.sbutton:not(:last-child):nth-last-child(4) {
  -webkit-transition-delay: 60ms;
  transition-delay: 60ms;
}
.sbutton:not(:last-child):nth-last-child(5) {
  -webkit-transition-delay: 80ms;
  transition-delay: 80ms;
}
.sbutton:not(:last-child):nth-last-child(6) {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}

[tooltip]:before {
  font-family: "Roboto";
  font-weight: 600;
  border-radius: 2px;
  background-color: #585858;
  color: #fff;
  content: attr(tooltip);
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  padding: 5px 7px;
  margin-left: 10px;
  position: absolute;
  left: 100%;
  bottom: 20%;
  white-space: nowrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
  visibility: none;
  opacity: 1;
}
.sbutton.mainsbutton {
  background: #2ab1ce;
}
.sbutton.gplus {
  background: #f44336;
}
.sbutton.pinteres {
  background: #e60023;
}
.sbutton.twitt {
  background: #03a9f4;
}
.sbutton.fb {
  background: #3f51b5;
}
.sbutton.whatsapp {
  background: #00e676;
}

@media (max-width: 450px) {
  header .logo {
    width: 100%;
    text-align: center;
  }

  .footer-distributed h3 {
    font-size: 26px;
    text-align: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-distributed a {
    font-size: 18px;
  }

  .footer-distributed .footer-icons {
    margin: 20px auto;
  }

  .footer-distributed .footer-left {
    margin: 0;
  }

  .footer-distributed .footer-right p {
    text-align: center;
    font-size: 16px;
    padding: 5px;
  }

  header .container {
    margin: 0;
  }

  header nav {
    padding-bottom: 15px;
  }
}

#cookiePopup {
  background-color: #ffffff;
  position: fixed;
  font-size: 14px;
  width: 70vw;
  max-width: 42.85em;
  box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
  font-family: "Poppins", sans-serif;
  text-align: justify;
  line-height: 1.8em;
  padding: 2em 1.4em;
  border-radius: 6px;
  transition: all 0.5s ease-in;
}

#cookiePopup img {
  display: block;
  width: 10em;
  transform: translateZ(0);
  position: relative;
  margin: auto;
}

#cookiePopup p {
  text-align: center;
  margin: 1.4em 0;
}

#cookiePopup button {
  background-color: #6859fe;
  border: none;
  color: #ffffff;
  font-size: 1.2em;
  padding: 0.5em 0.7em;
  display: block;
  position: relative;
  margin: auto;
  border-radius: 5px;
  width: 90px;
  height: 70px;
}
#cookiePopup a {
  color: #6859fe;
}

.hide {
  visibility: hidden;
  bottom: 0;
  right: 2em;
}

.show {
  visibility: visible;
  bottom: 2em;
  right: 2em;
}

@media only screen and (max-width: 37.5em) {
  #cookiePopup {
    width: 100%;
  }
  .hide {
    bottom: 2em;
    right: 0;
  }
  .show {
    right: 0;
    bottom: 0;
  }
}

.author {
  font-size: 0.75em !important;
  color: #999 !important;
  text-align: center;
  margin-top: 20px;
}

.author a {
  text-decoration: none;
  font-size: 1em;
  padding-left: 5px;
  color: #999 !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.2s linear;
}

.author a:hover {
  color: #fff !important;
  text-decoration: none;
}

.author a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.4s ease;
  text-decoration: none;
}

.author a:hover::after {
  width: 100%;
  transition: width 0.4s ease;
  text-decoration: none;
}

.hidden {
  display: none;
}

.cover {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
}

.header-wrap {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: 85px;
}

.header-wrap .mainInner {
  width: 100%;
  height: 85px;
  padding: 0 20px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-title h1 {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #f6f6f6;
}

.navbar-menu ul {
  display: flex;
  list-style: none;
}

.navbar-menu ul li:not(:last-child) {
  margin-right: 30px;
}

.navbar-close,
.navbar-icon,
.navbar-icon > * {
  display: none;
  align-items: center;
}

.main-wrap {
  background-image: url("https://4.bp.blogspot.com/-HaIPQhTAQEI/YTnfAcaq4oI/AAAAAAAAO4E/malj9gv8HUYFw3OH8G3KYTkqLrtRcDXdwCLcBGAsYHQ/img-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
}

@media screen and (max-width: 726px) {
  .map iframe {
    scale: calc(100% / 1.5);
  }

  .navbar-menu {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 55%;
    height: 100vh;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
  }

  .navbar-menu ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-menu ul li:not(:last-child) {
    margin: 0;
  }

  .navbar-menu .link {
    padding: 14px 22px;
  }

  .navbar-menu .link::hover {
    color: #356045;
  }

  .navbar-close,
  .navbar-icon,
  .navbar-icon > * {
    display: flex;
  }

  .navbar-close {
    padding: 14px 22px;
    justify-content: flex-end;
  }

  .navbar-close label {
    display: flex;
    align-items: center;
  }

  .navbar-close label::before {
    content: "Cerrar";
    font-size: 17px;
    color: rgb(66, 64, 64);
    opacity: 0.9;
    cursor: pointer;
    transition: 0.2s ease;
  }

  .navbar-close label::before::hover {
    color: #356045;
  }

  .off-navmenu:checked ~ .navbar-menu {
    right: 0;
    visibility: visible;
    opacity: 1;
  }

  .off-navmenu:checked ~ .navC {
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 726px) {
  header .logo {
    width: 100%;
    text-align: center;
  }

  .footer-distributed h3 {
    font-size: 26px;
    text-align: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-distributed a {
    font-size: 18px;
  }

  .footer-distributed .footer-icons {
    margin: 20px auto;
  }

  .footer-distributed .footer-left {
    margin: 0;
  }

  .footer-distributed .footer-right p {
    text-align: center;
    font-size: 16px;
    padding: 5px;
  }

  header .logo {
    width: 100%;
    text-align: center;
    font-size: 23px;
  }

  .footer-distributed h3 {
    font-size: 26px;
    text-align: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-distributed a {
    font-size: 18px;
  }

  header .container {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .mainInner {
    margin-right: 20px;
  }

  svg {
    width: 25px;
    height: 25px;
    stroke: #356045;
  }

  .svg-x {
    margin-left: 10px;
  }

  .cover {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
  }

  .header-wrap {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }

  .header-wrap .mainInner {
    max-width: calc(1050px + 40px);
    height: 50px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-title h1 {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #f6f6f6;
  }

  .navbar-menu {
    background-color: #b1ac7e !important;
  }

  .navbar-menu ul {
    display: flex;
    list-style: none;
  }

  .navbar-menu ul li:not(:last-child) {
    margin-right: 30px;
  }

  .navbar-menu .link {
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 100%;
  }

  .navbar-menu .link::hover {
    color: #356045;
  }

  .main-wrap {
    background-image: url("https://4.bp.blogspot.com/-HaIPQhTAQEI/YTnfAcaq4oI/AAAAAAAAO4E/malj9gv8HUYFw3OH8G3KYTkqLrtRcDXdwCLcBGAsYHQ/img-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    filter: brightness(60%);
    -webkit-filter: brightness(60%);
  }

  .navbar-menu ul {
    flex-direction: column;
  }

  .navbar-menu ul li:not(:last-child) {
    margin: 0;
  }

  .navbar-menu .link {
    padding: 14px 22px;
  }

  .navbar-close {
    padding: 14px 22px;
    justify-content: flex-end;
    width: 100%;
  }

  .navbar-close label {
    display: flex;
    align-items: center;
  }

  .off-navmenu:checked ~ .navbar-menu {
    right: 0;
    visibility: visible;
    opacity: 1;
  }

  .off-navmenu:checked ~ .navC {
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    visibility: visible;
  }
}

.cover {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
}

.header-wrap {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.header-wrap .mainInner {
  width: 100%;
  height: 85px;
  padding: 0 20px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-title h1 {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #f6f6f6;
}

.navbar-menu ul {
  display: flex;
  list-style: none;
}

.navbar-menu ul li:not(:last-child) {
  margin-right: 30px;
}

.main-wrap {
  background-image: url("https://4.bp.blogspot.com/-HaIPQhTAQEI/YTnfAcaq4oI/AAAAAAAAO4E/malj9gv8HUYFw3OH8G3KYTkqLrtRcDXdwCLcBGAsYHQ/img-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
}
