@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

@font-face {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
  font-display: swap;
}

:root {
  --bg-color: #ffffff;
  --text-color: #111111;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0 0 16px;
}
h1 {
  font-size: 30px;
  line-height: 60px;
}
h1,
h2 {
  font-weight: 700;
}
h2 {
  font-size: 28px;
  line-height: 48px;
}
h3 {
  font-size: 24px;
  line-height: 36px;
}
h3,
h4 {
  font-weight: 700;
}
h4 {
  font-size: 20px;
  line-height: 30px;
}
h5,
h6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

a:hover,
a[rel~="nofollow"] {
  text-decoration: underline;
}

a[rel~="nofollow"] {
  color: #008461;
}

a[rel~="nofollow"]:hover {
  text-decoration: none;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.page {
  width: 100%;
}

.container {
  position: relative;
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

.container h1 {
  margin: 10px 0 !important;
}

.header {
  padding: 16px 0;
  margin: 0;
}

.header .title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
}

.translations-list-container {
  padding-bottom: 8px;
  margin: 0;
}

.translations-list-container .translations-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.translations-list-container .translations-list .translations-list-item {
  display: inline-block;
  padding: 0;
  margin: 0 8px 8px 0;
  font-weight: 700;
  color: #008461;
}

.translations-list-container .translations-list .translations-list-item a {
  display: inline-block;
  color: #008461;
  border: 2px solid #008461;
  border-radius: 4px;
  padding: 4px 8px;
}

.translations-content-container {
  border-top: 1px solid rgb(216, 216, 216);
}

.footer {
  border-top: 1px solid #eee;
  margin: 32px 0 0;
  padding: 16px 0;
  vertical-align: top;
}

@media (max-width: 450px) {
  .footer-distributed a {
    font-size: 18px;
  }

  .footer-distributed .footer-icons {
    margin: 20px auto;
  }

  .footer-distributed .footer-left {
    margin: 0;
  }

  .footer-distributed .footer-right p {
    text-align: center;
    font-size: 16px;
    padding: 5px;
  }
}

.footer-distributed {
  background: #444;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 30px 60px 40px;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

/* Footer left */

.footer-distributed .footer-left {
  float: left;
}

/* Logo */

.footer-distributed h3 {
  color: #ffffff;
  margin: 0 0 10px;
  font-size: 26px;
}

.footer-distributed h3 span {
  color: #4d9c6a;
}

@media screen and (max-width: 726px) {
  .footer-distributed h3 {
    text-align: center;
  }

  svg.sun-dark,
  svg.moon-dark {
    display: none;
  }
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-icons {
  margin-top: 40px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 50%;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed p {
  font-size: 25px;
}

.footer-distributed .footer-icons #fb {
  background-image: url("./fotos/facebuk.webp");
  background-size: 50px 50px;
}

.footer-distributed .footer-icons #ig {
  background-image: url("./fotos/instagram3.webp");
  background-size: 50px 50px;
}

.footer-distributed .footer-icons #maps {
  background-image: url("./fotos/periscope.webp");
  background-size: 50px 50px;
}

/* Footer right */

.footer-distributed .footer-right {
  float: right;
}

.footer-distributed .footer-right p {
  display: flex;
  flex-direction: column;
  vertical-align: bottom;
  margin: 15px 42px 0 0;
  color: #ffffff;
  align-items: flex-end;
  font-size: 1.2em;
}

/* Contacto */

.footer-distributed form {
  display: inline-block;
  clear: right;
}

.footer-distributed form input,
.footer-distributed form textarea {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color: #d1d2d2;

  width: 400px;
  padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
  color: #5c666b;
}

.footer-distributed ::-moz-placeholder {
  color: #5c666b;
  opacity: 1;
}

.footer-distributed :-ms-input-placeholder {
  color: #5c666b;
}

.footer-distributed form input {
  height: 55px;
  margin-bottom: 15px;
}

.footer-distributed form textarea {
  height: 100px;
  margin-bottom: 20px;
}

.footer-distributed form button {
  border-radius: 3px;
  background-color: #33383b;
  color: #ffffff;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
  text-align: center;
  width: 400px;
  height: 100px;
  color: rgb(201, 201, 201);
}

.footer-distributed form button:hover {
  color: rgb(235, 230, 230);
}

@media (max-width: 1000px) {
  .footer-distributed .footer-company-name {
    font-size: 12px;
  }

  .footer-distributed form input,
  .footer-distributed form textarea {
    width: 250px;
  }

  .footer-distributed form button {
    padding: 10px 35px;
  }
}

@media (max-width: 800px) {
  .footer-distributed {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    float: none;
    clear: right;
  }

  .footer-distributed .footer-left {
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
  }

  .footer-distributed form {
    margin-top: 30px;
  }

  .footer-distributed form {
    display: block;
  }

  .footer-distributed form button {
    float: none;
  }

  .footer-distributed .footer-right p {
    display: block;
    margin: 0;
    text-align: center;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footer-links a {
    margin: 0 10px;
  }

  .footer-distributed .footer-icons a {
    margin-right: 0;
  }

  .footer-distributed .footer-company-name {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
  }

  .footer-distributed .footer-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footer-distributed .footer-icons a {
    margin-right: 10px;
  }
}

.author {
  font-size: 0.75em !important;
  color: #999 !important;
  text-align: center;
  margin-top: 20px;
}

.author a {
  text-decoration: none;
  font-size: 1em;
  padding-left: 5px;
  color: #999 !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.2s linear;
}

.author a:hover {
  color: #fff !important;
  text-decoration: none;
}

.author a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.4s ease;
  text-decoration: none;
}

.switch {
  --button-width: 3.5em;
  --button-height: 2em;
  --toggle-diameter: 1.5em;
  --button-toggle-offset: calc(
    (var(--button-height) - var(--toggle-diameter)) / 2
  );
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-yellow: #fcff47;
  --color-grey: #5f5c51;
}

.slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-yellow);
  border-radius: calc(var(--button-height) / 2);
  position: fixed;
  transition: 0.3s all ease-in-out;
  transform: rotate(90deg);
  z-index: 1;
  top: 50%;
  left: -0.3%;
}

svg.sun-dark,
svg.sun-light {
  cursor: pointer;
}

.close-svg-light {
  display: none;
}

.close-svg-dark {
  display: block;
}

@media screen and (min-width: 727px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  body.dark-theme .close-svg-dark {
    display: none;
  }

  body.dark-theme .close-svg-light {
    display: none;
  }
}

.circle-close {
  background-color: #fff;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  transform: translate(17px);
  border: solid 2px rgb(201, 201, 201);
  cursor: pointer;
}

body.dark-theme .circle-close {
  background-color: rgb(48, 48, 48);
  border: solid 2px rgb(201, 201, 201);
}

body svg.sun-light {
  display: none;
}

body.dark-theme svg.sun-dark {
  display: none;
}

body.dark-theme svg.sun-light {
  display: block;
}

body svg.moon-light {
  display: none;
}

body.dark-theme svg.moon-dark {
  display: none;
}

body.dark-theme svg.moon-light {
  display: block;
}

.rotate-svg {
  transform: rotate(0deg);
  transition: transform 0.5s;
}

#close-svg {
  transition: transform 0.5s;
}

.slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked + .slider {
  background-color: var(--color-grey);
}

.switch input[type="checkbox"]:checked + .slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)
    )
  );
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
  display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
  width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)
    )
  );
}

#cookiePopup {
  background-color: #ffffff;
  position: fixed;
  font-size: 14px;
  width: 70vw;
  max-width: 42.85em;
  box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
  font-family: "Poppins", sans-serif;
  text-align: justify;
  line-height: 1.8em;
  padding: 2em 1.4em;
  border-radius: 6px;
  transition: all 0.5s ease-in;
  z-index: 9999;
}

body.dark-theme #cookiePopup {
  background-color: #1e1e1e;
  color: #ffffff;
}

#cookiePopup img {
  display: block;
  width: 10em;
  height: 100%;
  transform: translateZ(0);
  position: relative;
  margin: auto;
}

#cookiePopup p {
  text-align: center;
  margin: 1.4em 0;
}

#cookiePopup button {
  background-color: #6859fe;
  border: none;
  color: #ffffff;
  font-size: 1.2em;
  padding: 0.5em 0.7em;
  display: block;
  position: relative;
  margin: auto;
  border-radius: 5px;
  width: 90px;
  height: 70px;
  cursor: pointer;
}

#cookiePopup a {
  color: #6859fe;
}

.hide {
  visibility: hidden;
  bottom: 0;
  right: 2em;
}

.show {
  visibility: visible;
  bottom: 2em;
  right: 2em;
}

@media only screen and (max-width: 37.5em) {
  #cookiePopup {
    width: 100%;
  }
  .hide {
    bottom: 2em;
    right: 0;
  }
  .show {
    right: 0;
    bottom: 0;
  }
}

body.dark-theme {
  background-color: #212121 !important;
  color: white !important;
}

body.dark-mode {
  background-color: #212121 !important;
  color: white !important;
}

.dark-theme .translations-content-container {
  border-top: 1px solid rgb(201, 201, 201);
}
